##Q1. Problem Statement: Conditional Probability

Load the “kerala.csv”data into a DataFrame and perform the following tasks:

1.Explore the DataFrame using info()and describe()functions

2.June and July are the peak months of rainfall. Consider that if it rains more than  500mm,  then the chances  of  flood  become  more;  create  a  Dataframe with  columns –“YEAR”,  “JUN_GT_500” (Contains  a  boolean  value  to  show whether  it  rained  more  than  500  mm  in June), “JUL_GT_500” (Contains  a boolean  value  to  show  whether  it  rained  more  than  500  mm  in July),and “FLOODS” (Contains a boolean value to show whether it flooded that year)

3.Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))

4.Calculate the probability of rain more than 500 mm in June, given it flooded that year (P(B|A))

5.Probability of flood given it rained more than 500 mm in July

6.Probability  of  rain of more  than  500  mm  in  July  given  it  flooded  that  year (P(B|A))

In [ ]:
import pandas as pd
df = pd.read_csv("/content/sample_data/kerala.csv")
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB

In [ ]:
df.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,1959.500000,12.218644,15.633898,36.670339,110.330508,228.644915,651.617797,698.220339,430.369492,246.207627,293.207627,162.311017,40.009322,2925.405085
std,34.207699,15.473766,16.406290,30.063862,44.633452,147.548778,186.181363,228.988966,181.980463,121.901131,93.705253,83.200485,36.676330,452.169407
min,1901.000000,0.000000,0.000000,0.100000,13.100000,53.400000,196.800000,167.500000,178.600000,41.300000,68.500000,31.500000,0.100000,2068.800000
25%,1930.250000,2.175000,4.700000,18.100000,74.350000,125.050000,535.550000,533.200000,316.725000,155.425000,222.125000,93.025000,10.350000,2613.525000
50%,1959.500000,5.800000,8.350000,28.400000,110.400000,184.600000,625.600000,691.650000,386.250000,223.550000,284.300000,152.450000,31.100000,2934.300000
75%,1988.750000,18.175000,21.400000,49.825000,136.450000,264.875000,786.975000,832.425000,500.100000,334.500000,355.150000,218.325000,54.025000,3170.400000
max,2018.000000,83.500000,79.000000,217.200000,238.000000,738.800000,1098.200000,1526.500000,1398.900000,526.700000,567.900000,365.600000,202.300000,4473.000000

In [ ]:
df["JUN_GT_500"] = (df["JUN"] > 500 ).astype("int")
df["JUL_GT_500"] = (df["JUL"] > 500 ).astype('int')
df["FLOODS"] = df['FLOODS'].map({'YES': 1, 'NO':0})

In [ ]:
df2 = df.loc[:, ["YEAR", "JUN_GT_500","JUL_GT_500","FLOODS"]]
df2["COUNT"] = 1

df2.head()

   YEAR  JUN_GT_500  JUL_GT_500  FLOODS  COUNT
0  1901           1           1     NaN      1
1  1902           0           1     NaN      1
2  1903           1           1     NaN      1
3  1904           1           1     NaN      1
4  1905           1           1     NaN      1

In [ ]:
df2.shape

(118, 5)

In [ ]:
DF3 = pd.crosstab(df2["FLOODS"], df2["JUL_GT_500"])
print(DF3)

Empty DataFrame
Columns: []
Index: []

In [25]:
prob_floods = (6 + 54) / (6 +54 + 19 + 39)
prob_Jun = (39 + 54) / (6 + 54 + 19 + 39)
prob_floods_inter_jun = 54/(6 + 54 + 19 +39)
print("P(Flood): ", prob_floods)
print("P(June): ", prob_Jun)
print("P(Flood AND June): ",prob_floods_inter_jun)

P(Flood):  0.5084745762711864
P(June):  0.788135593220339
P(Flood AND June):  0.4576271186440678

In [26]:
# Now calculate probabilitity of flood given it rained more than 500 mm in June (P(A|B))
Proba_Floods_Jun = prob_floods_inter_jun / prob_Jun
print("Probailitity of flood given it rained more than 500 mm in June (P(A|B)): ")
print("P(Flood|June): ", Proba_Floods_Jun)

Probailitity of flood given it rained more than 500 mm in June (P(A|B)):
P(Flood|June):  0.5806451612903226

In [27]:
Proba_Jun_Floods = (Proba_Floods_Jun * prob_Jun) / prob_floods
print("Probability of rain more than 500 mm in June given it flooded that year (P(B|A)): ")
print("P(June|Flood): ",Proba_Jun_Floods)

Probability of rain more than 500 mm in June given it flooded that year (P(B|A)):
P(June|Flood):  0.9000000000000001

In [29]:
DF4 = pd.crosstab(df2["FLOODS"], df2["JUL_GT_500"])
print(DF4)

Empty DataFrame
Columns: []
Index: []

In [30]:
PROB_FLOOD = (3 + 57) / (3 + 57 + 19 + 39)
PROB_JUL = (39 + 57) / (3 + 57 + 19 + 39)
PROB_FLOOD_INTER_JUL = 57 / (3 + 57 + 19 + 39)
print("P(Flood): ",PROB_FLOOD)
print("P(July): ",PROB_JUL)
print("P(Flood AND July): ",PROB_FLOOD_INTER_JUL)

P(Flood):  0.5084745762711864
P(July):  0.8135593220338984
P(Flood AND July):  0.4830508474576271

In [31]:
PRO_FLO_JUL = PROB_FLOOD_INTER_JUL /PROB_JUL
print("Probabilitity of flood given it rained more than 500 mm in July: ")
print("P(Flood|July): ",PRO_FLO_JUL)

Probabilitity of flood given it rained more than 500 mm in July:
P(Flood|July):  0.59375

In [32]:

PRO_FLO_JUL = (PRO_FLO_JUL * PROB_JUL) / PROB_FLOOD
print("Probability of rain more than 500 mm in July given it flooded that year (P(B|A)): ")
print("P(July|Flood):",PRO_FLO_JUL)

Probability of rain more than 500 mm in July given it flooded that year (P(B|A)):
P(July|Flood): 0.9500000000000002