✅ Dataset generated and saved as 'daily_expense_income_dataset.csv'

,Date,Category,Description,Amount,Type,Month,Year,Payment Mode,Income Source
0,2025-03-01,Rent,Rent expense,2336.41,Expense,March,2025,Credit Card,
1,2025-03-01,Income,Salary received,34544.20,Income,March,2025,Bank Transfer,Salary
2,2025-03-02,Rent,Rent expense,4169.52,Expense,March,2025,Bank Transfer,
3,2025-03-03,Rent,Rent expense,961.11,Expense,March,2025,Cash,
4,2025-03-04,Food,Food expense,4181.89,Expense,March,2025,Credit Card,
...,...,...,...,...,...,...,...,...,...
112,2025-04-26,Rent,Rent expense,1886.25,Expense,April,2025,Credit Card,
113,2025-04-27,Food,Food expense,1854.12,Expense,April,2025,Debit Card,
114,2025-04-27,Food,Food expense,1964.41,Expense,April,2025,Credit Card,
115,2025-04-28,Transport,Transport expense,2408.70,Expense,April,2025,Bank Transfer,
116,2025-04-29,Shopping,Shopping expense,1251.90,Expense,April,2025,Cash,

,Date,Category,Description,Amount,Type,Month,Year,Payment Mode,Income Source
0,2025-04-10,Income,Bonus received,48605.92,Income,April,2025,Bank Transfer,Bonus
1,2024-12-07,Shopping,Shopping expense,164.66,Expense,December,2024,Credit Card,
2,2025-03-18,Rent,Rent expense,4962.59,Expense,March,2025,Credit Card,
3,2024-06-18,Utilities,Utilities expense,3837.02,Expense,June,2024,Credit Card,
4,2025-03-26,Income,Salary received,34087.27,Income,March,2025,Bank Transfer,Salary
...,...,...,...,...,...,...,...,...,...
995,2024-01-22,Rent,Rent expense,3529.85,Expense,January,2024,UPI,
996,2024-12-25,Income,Salary received,48175.62,Income,December,2024,Bank Transfer,Salary
997,2025-02-09,Utilities,Utilities expense,4707.24,Expense,February,2025,UPI,
998,2024-01-06,Utilities,Utilities expense,1829.09,Expense,January,2024,UPI,
999,2024-09-20,Food,Food expense,1973.56,Expense,September,2024,Debit Card,

In [13]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Categories and their possible sources
expense_sources_map = {
    'Food': ['Supermarket', 'Restaurant', 'Grocery Store'],
    'Transport': ['Bus', 'Auto', 'Cab', 'Train'],
    'Shopping': ['Online Store', 'Local Market', 'Mall'],
    'Rent': ['Landlord', 'Apartment Rent'],
    'Utilities': ['Electricity Board', 'Water Supply', 'Gas Company'],
    'Entertainment': ['Cinema', 'Streaming Service', 'Concert'],
    'Medical': ['Pharmacy', 'Hospital', 'Clinic']
}

income_sources = ['Salary', 'Freelance', 'Bonus', 'Investment Return']
payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'Bank Transfer']

# Generate 1000 records starting from a specific date
start_date = datetime(2024, 1, 1)
data = []

for _ in range(1000):
    # Random date between Jan 1, 2024 and Apr 10, 2025
    date = start_date + timedelta(days=random.randint(0, 465))
    month = date.strftime('%B')
    year = date.year

    if random.random() < 0.8:  # 80% chances it's an expense
        category = random.choice(list(expense_sources_map.keys()))
        amount = round(random.uniform(50, 5000), 2)
        payment = random.choice(payment_modes)
        expense_source = random.choice(expense_sources_map[category])
        data.append({
            'Date': date.strftime('%Y-%m-%d'),
            'Category': category,
            'Description': f'{category} expense',
            'Amount': amount,
            'Type': 'Expense',
            'Month': month,
            'Year': year,
            'Payment Mode': payment,
            'Expense Source': expense_source
        })
    else:  # 20% income entries
        source = random.choice(income_sources)
        amount = round(random.uniform(15000, 60000), 2)
        data.append({
            'Date': date.strftime('%Y-%m-%d'),
            'Category': 'Income',
            'Description': f'{source} received',
            'Amount': amount,
            'Type': 'Income',
            'Month': month,
            'Year': year,
            'Payment Mode': 'Bank Transfer',
            'Expense Source': ''
        })

# Convert to DataFrame
df = pd.DataFrame(data)

# Save to CSV
file_path = "daily_expense_income_dataset.csv"
df.to_csv(file_path, index=False)

print(f"✅ Dataset generated and saved as '{file_path}'")

✅ Dataset generated and saved as 'daily_expense_income_dataset.csv'

np.int64(0)